streamlit>=1.29                   #frontend framework
supabase>=2.0.2                   #supabase client for database operations
fastapi>=0.104.1                  #backed api framework
uvicorn>=0.24.0                   #ASGI server for FastAPI
python-dotenv>=1.0.0              #Environomental variable management 